## Quarterly GDP for CA, FL, NY, TX, WA and US - 2020-2023
- Data sourced from U.S. Department of Commerce - Bureau of Economic Analysis
- https://www.bea.gov/

In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Read CSV file
gdp_csv = ("../Data/GDP_2020-2023_quarterly.csv")
gdp_df = pd.read_csv(gdp_csv)

In [3]:
# Clear blank spaces in cells so we can cast values to float64
for column in gdp_df.columns:
    gdp_df[column] = gdp_df[column].str.strip()
# Remove commas from US - Washington columns, cast as float
for column in (gdp_df.columns)[1:]:
    gdp_df[column] = gdp_df[column].str.replace(',','').astype(float)

In [4]:
# Rename columns to remove extra spaces
gdp_df = gdp_df.rename(columns = {' United States ':'United States',' California ':'California',' Florida ':'Florida',
                         ' New York ':'New York',' Texas ':'Texas',' Washington ':'Washington'})

In [5]:
# Calculate percent change for each column
gdp_df['US % Change'] = gdp_df['United States'].pct_change()
gdp_df['CA % Change'] = gdp_df['California'].pct_change()
gdp_df['FL % Change'] = gdp_df['Florida'].pct_change()
gdp_df['NY % Change'] = gdp_df['New York'].pct_change()
gdp_df['TX % Change'] = gdp_df['Texas'].pct_change()
gdp_df['WA % Change'] = gdp_df['Washington'].pct_change()

# Reorganize columns
gdp_df = gdp_df[['Quarter','California','CA % Change','Florida','FL % Change','New York','NY % Change','Texas','TX % Change','Washington','WA % Change','United States','US % Change']]

# Create lists to store spliced strings from Quarter column
year = []
quarter = []

# Year splice + quarter splice loop
for i in gdp_df.iloc[:,0]:
    year.append(i[:4])
    quarter.append(i[5:])

# Insert columns into dataframe
gdp_df.insert(1,"Quart",quarter)
gdp_df.insert(2,"Year",year)

In [6]:
# Display DataFrame
gdp_df

,Quarter,Quart,Year,California,CA % Change,Florida,FL % Change,New York,NY % Change,Texas,TX % Change,Washington,WA % Change,United States,US % Change
0,2020:Q1,Q1,2020,3118522.7,NaN,1152589.9,NaN,1821606.8,NaN,1840874.8,NaN,619251.6,NaN,21727657.0,NaN
1,2020:Q2,Q2,2020,2871237.9,-0.079295,1066451.9,-0.074734,1660253.4,-0.088578,1676440.7,-0.089324,584351.8,-0.056358,19935444.0,-0.082485
2,2020:Q3,Q3,2020,3126987.5,0.089073,1166652.6,0.093957,1790068.9,0.078190,1819976.6,0.085619,637585.2,0.091098,21684551.0,0.087739
3,2020:Q4,Q4,2020,3190272.4,0.020238,1182323.3,0.013432,1821550.1,0.017587,1871282.8,0.028191,639342.9,0.002757,22068767.0,0.017718
4,2021:Q1,Q1,2021,3279904.9,0.028096,1220392.1,0.032198,1840547.4,0.010429,1957009.4,0.045812,662224.7,0.035790,22656793.0,0.026645
5,2021:Q2,Q2,2021,3376467.2,0.029441,1276526.3,0.045997,1897462.8,0.030923,2045172.0,0.045050,685605.8,0.035307,23368861.0,0.031428
6,2021:Q3,Q3,2021,3465519.5,0.026374,1320150.4,0.034174,1938860.2,0.021817,2120880.3,0.037018,691182.0,0.008133,23921991.0,0.023670
7,2021:Q4,Q4,2021,3573941.6,0.031286,1377455.9,0.043408,2016782.7,0.040190,2232827.4,0.052783,711796.8,0.029825,24777038.0,0.035743
8,2022:Q1,Q1,2022,3591071.1,0.004793,1400023.1,0.016383,2025436.9,0.004291,2323836.7,0.040760,720503.4,0.012232,25215491.0,0.017696
9,2022:Q2,Q2,2022,3641685.3,0.014094,1442829.2,0.030575,2029181.6,0.001849,2433824.2,0.047330,732415.3,0.016533,25805791.0,0.023410
10,2022:Q3,Q3,2022,3688897.5,0.012964,1489951.8,0.032660,2063785.9,0.017053,2477702.4,0.018029,749418.8,0.023216,26272011.0,0.018066
11,2022:Q4,Q4,2022,3720008.9,0.008434,1528320.3,0.025752,2092631.0,0.013977,2512336.8,0.013978,769300.5,0.026529,26734277.0,0.017595
12,2023:Q1,Q1,2023,3808244.2,0.023719,1565881.3,0.024577,2125283.9,0.015604,2536078.1,0.009450,783604.5,0.018594,27164359.0,0.016087
13,2023:Q2,Q2,2023,3836679.8,0.007467,1582377.8,0.010535,2157922.5,0.015357,2543637.3,0.002981,800463.6,0.021515,27453815.0,0.010656
14,2023:Q3,Q3,2023,3900426.7,0.016615,1612734.7,0.019184,2197691.4,0.018429,2608141.6,0.025359,815478.7,0.018758,27967697.0,0.018718
15,2023:Q4,Q4,2023,3936165.1,0.009163,1642248.6,0.018301,2207140.7,0.004300,2647607.9,0.015132,831911.3,0.020151,28296967.0,0.011773