## Quarterly GDP for CA, FL, NY, TX, WA and US - 2020-2023
- Data sourced from U.S. Department of Commerce - Bureau of Economic Analysis
- https://www.bea.gov/

In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Read CSV files
gdp_csv = ("../Data/GDP_2020-2023_quarterly.csv")
gdp_df = pd.read_csv(gdp_csv)

industry_csv = ("../Data/Quarterly_GDP_Industry_By_State_2020-2023.csv")
industry_df = pd.read_csv(industry_csv, skiprows=3)

In [3]:
# Clear blank spaces in cells so we can cast values to float64
for column in gdp_df.columns:
    gdp_df[column] = gdp_df[column].str.strip()
# Remove commas from US - Washington columns, cast as float
for column in (gdp_df.columns)[1:]:
    gdp_df[column] = gdp_df[column].str.replace(',','').astype(float)

In [4]:
# Rename columns to remove extra spaces
gdp_df = gdp_df.rename(columns = {' United States ':'United States',' California ':'California',' Florida ':'Florida',
                         ' New York ':'New York',' Texas ':'Texas',' Washington ':'Washington'})

In [5]:
# Calculate percent change for each column
gdp_df['US % Change'] = gdp_df['United States'].pct_change()
gdp_df['CA % Change'] = gdp_df['California'].pct_change()
gdp_df['FL % Change'] = gdp_df['Florida'].pct_change()
gdp_df['NY % Change'] = gdp_df['New York'].pct_change()
gdp_df['TX % Change'] = gdp_df['Texas'].pct_change()
gdp_df['WA % Change'] = gdp_df['Washington'].pct_change()

# Reorganize columns
gdp_df = gdp_df[['Quarter','California','CA % Change','Florida','FL % Change','New York','NY % Change','Texas','TX % Change','Washington','WA % Change','United States','US % Change']]

# Create lists to store spliced strings from Quarter column
year = []
quarter = []

# Year splice + quarter splice loop
for i in gdp_df.iloc[:,0]:
    year.append(i[:4])
    quarter.append(i[5:])

# Insert columns into dataframe
gdp_df.insert(1,"Quart",quarter)
gdp_df.insert(2,"Year",year)

In [6]:
# Display DataFrame
gdp_df

,Quarter,Quart,Year,California,CA % Change,Florida,FL % Change,New York,NY % Change,Texas,TX % Change,Washington,WA % Change,United States,US % Change
0,2020:Q1,Q1,2020,3118522.7,NaN,1152589.9,NaN,1821606.8,NaN,1840874.8,NaN,619251.6,NaN,21727657.0,NaN
1,2020:Q2,Q2,2020,2871237.9,-0.079295,1066451.9,-0.074734,1660253.4,-0.088578,1676440.7,-0.089324,584351.8,-0.056358,19935444.0,-0.082485
2,2020:Q3,Q3,2020,3126987.5,0.089073,1166652.6,0.093957,1790068.9,0.078190,1819976.6,0.085619,637585.2,0.091098,21684551.0,0.087739
3,2020:Q4,Q4,2020,3190272.4,0.020238,1182323.3,0.013432,1821550.1,0.017587,1871282.8,0.028191,639342.9,0.002757,22068767.0,0.017718
4,2021:Q1,Q1,2021,3279904.9,0.028096,1220392.1,0.032198,1840547.4,0.010429,1957009.4,0.045812,662224.7,0.035790,22656793.0,0.026645
5,2021:Q2,Q2,2021,3376467.2,0.029441,1276526.3,0.045997,1897462.8,0.030923,2045172.0,0.045050,685605.8,0.035307,23368861.0,0.031428
6,2021:Q3,Q3,2021,3465519.5,0.026374,1320150.4,0.034174,1938860.2,0.021817,2120880.3,0.037018,691182.0,0.008133,23921991.0,0.023670
7,2021:Q4,Q4,2021,3573941.6,0.031286,1377455.9,0.043408,2016782.7,0.040190,2232827.4,0.052783,711796.8,0.029825,24777038.0,0.035743
8,2022:Q1,Q1,2022,3591071.1,0.004793,1400023.1,0.016383,2025436.9,0.004291,2323836.7,0.040760,720503.4,0.012232,25215491.0,0.017696
9,2022:Q2,Q2,2022,3641685.3,0.014094,1442829.2,0.030575,2029181.6,0.001849,2433824.2,0.047330,732415.3,0.016533,25805791.0,0.023410
10,2022:Q3,Q3,2022,3688897.5,0.012964,1489951.8,0.032660,2063785.9,0.017053,2477702.4,0.018029,749418.8,0.023216,26272011.0,0.018066
11,2022:Q4,Q4,2022,3720008.9,0.008434,1528320.3,0.025752,2092631.0,0.013977,2512336.8,0.013978,769300.5,0.026529,26734277.0,0.017595
12,2023:Q1,Q1,2023,3808244.2,0.023719,1565881.3,0.024577,2125283.9,0.015604,2536078.1,0.009450,783604.5,0.018594,27164359.0,0.016087
13,2023:Q2,Q2,2023,3836679.8,0.007467,1582377.8,0.010535,2157922.5,0.015357,2543637.3,0.002981,800463.6,0.021515,27453815.0,0.010656
14,2023:Q3,Q3,2023,3900426.7,0.016615,1612734.7,0.019184,2197691.4,0.018429,2608141.6,0.025359,815478.7,0.018758,27967697.0,0.018718
15,2023:Q4,Q4,2023,3936165.1,0.009163,1642248.6,0.018301,2207140.7,0.004300,2647607.9,0.015132,831911.3,0.020151,28296967.0,0.011773

## Industry breakdown of GDP

In [8]:
# Preview dataframe
industry_df

,GeoFips,GeoName,LineCode,Description,2020:Q1,2020:Q2,2020:Q3,2020:Q4,2021:Q1,2021:Q2,2021:Q3,2021:Q4,2022:Q1,2022:Q2,2022:Q3,2022:Q4,2023:Q1,2023:Q2,2023:Q3,2023:Q4
0,6000,California,1.0,All industry total,3118522.7,2871237.9,3126987.5,3190272.4,3279904.9,3376467.2,3465519.5,3573941.6,3591071.1,3641685.3,3688897.5,3720008.9,3808244.2,3836679.8,3900426.7,3936165.1
1,6000,California,2.0,Private industries,2759259.4,2521761.5,2768349.1,2833621.2,2915463.2,3009396.7,3091048.3,3199317.3,3216875.9,3266071.4,3305247.5,3333024.5,3409034.0,3433178.7,3489861.2,3520636.1
2,6000,California,3.0,"Agriculture, forestry, fishing and hunting",35105.6,38280.5,40365.0,42531.6,37807.2,40639.4,43821.9,51268.9,46088.0,46381.2,47584.0,52614.1,46792.6,49548.2,48382.0,48126.3
3,6000,California,6.0,"Mining, quarrying, and oil and gas extra...",8013.2,5465.3,7760.4,7618.3,8860.1,9300.3,9973.1,11773.2,11345.0,12969.3,11385.7,11175.2,9863.8,9616.0,10496.2,10167.1
4,6000,California,10.0,Utilities,37989.9,41506.4,44531.2,45383.0,46841.4,45116.5,46683.7,50872.1,47474.8,56451.0,58336.1,53701.3,54601.4,51631.0,52667.4,51391.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,53000,Washington,86.0,State and local,58066.9,55044.3,55896.6,55934.1,58305.5,58463.7,59150.5,58469.5,62008.3,61255.9,62264.5,64385.7,64779.9,66290.2,66964.9,67924.3
135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,Legend/Footnotes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,"1. For levels: millions of dollars, seasonally...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,"Last updated: September 27, 2024-- new stati...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Remove NaN values (last 2 rows)
industry_df = industry_df.dropna()

# Remove blank spaces that are included in strings
industry_df = industry_df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

# Remove aggregate descriptions
industry_df = industry_df[(industry_df['Description'] != 'Private industries') & (industry_df['Description'] != 'All industry total')
& (industry_df['Description'] != 'Manufacturing') & (industry_df['Description'] != 'Government and government enterprises')]

# Rename GeoName to State
industry_df = industry_df.rename(columns = {'GeoName':'State'})

# Drop 'GeoFips' and 'LineCode' columns
industry_df = industry_df.drop(columns=['GeoFips','LineCode'])

# Preview DataFrame
industry_df.head()

,State,Description,2020:Q1,2020:Q2,2020:Q3,2020:Q4,2021:Q1,2021:Q2,2021:Q3,2021:Q4,2022:Q1,2022:Q2,2022:Q3,2022:Q4,2023:Q1,2023:Q2,2023:Q3,2023:Q4
2,California,"Agriculture, forestry, fishing and hunting",35105.6,38280.5,40365.0,42531.6,37807.2,40639.4,43821.9,51268.9,46088.0,46381.2,47584.0,52614.1,46792.6,49548.2,48382.0,48126.3
3,California,"Mining, quarrying, and oil and gas extraction",8013.2,5465.3,7760.4,7618.3,8860.1,9300.3,9973.1,11773.2,11345.0,12969.3,11385.7,11175.2,9863.8,9616.0,10496.2,10167.1
4,California,Utilities,37989.9,41506.4,44531.2,45383.0,46841.4,45116.5,46683.7,50872.1,47474.8,56451.0,58336.1,53701.3,54601.4,51631.0,52667.4,51391.8
5,California,Construction,128749.6,118677.7,127896.8,128552.6,131602.0,131039.0,129881.6,133164.1,141077.8,138948.3,142382.7,146792.0,145337.2,149109.6,152722.6,155291.9
7,California,Durable goods manufacturing,195565.5,186665.8,214693.9,211828.4,223020.1,226828.6,216469.4,225510.7,230335.4,231225.2,230371.2,233509.7,241779.1,243951.8,250297.6,253739.3

In [10]:
# Define lists for new dataframe to capture quarter, state, description and GDP output values - top 3 values in GDP
# for all states in each quarter
state = []
output = []
desc = []
quart = []

# Start with a for loop for the year 2020
for sta in industry_df['State'].unique().tolist():
    for i in range(1,5):
        output.extend(industry_df[industry_df['State']==sta].nlargest(3,[f'2020:Q{i}']).loc[:,f'2020:Q{i}'].values.tolist())
        state.extend(industry_df[industry_df['State']==sta].nlargest(3,[f'2020:Q{i}']).loc[:,'State'].values.tolist())
        desc.extend(industry_df[industry_df['State']==sta].nlargest(3,[f'2020:Q{i}']).loc[:,'Description'].values.tolist())
        quart.extend([f'2020:Q{i}']*3)

# Then loop through the 2021
for sta in industry_df['State'].unique().tolist():
    for i in range(1,5):
        output.extend(industry_df[industry_df['State']==sta].nlargest(3,[f'2021:Q{i}']).loc[:,f'2021:Q{i}'].values.tolist())
        state.extend(industry_df[industry_df['State']==sta].nlargest(3,[f'2021:Q{i}']).loc[:,'State'].values.tolist())
        desc.extend(industry_df[industry_df['State']==sta].nlargest(3,[f'2021:Q{i}']).loc[:,'Description'].values.tolist())
        quart.extend([f'2021:Q{i}']*3)

# Then loop through the 2022
for sta in industry_df['State'].unique().tolist():
    for i in range(1,5):
        output.extend(industry_df[industry_df['State']==sta].nlargest(3,[f'2022:Q{i}']).loc[:,f'2022:Q{i}'].values.tolist())
        state.extend(industry_df[industry_df['State']==sta].nlargest(3,[f'2022:Q{i}']).loc[:,'State'].values.tolist())
        desc.extend(industry_df[industry_df['State']==sta].nlargest(3,[f'2022:Q{i}']).loc[:,'Description'].values.tolist())
        quart.extend([f'2022:Q{i}']*3)

# Then loop through the 2023
for sta in industry_df['State'].unique().tolist():
    for i in range(1,5):
        output.extend(industry_df[industry_df['State']==sta].nlargest(3,[f'2023:Q{i}']).loc[:,f'2023:Q{i}'].values.tolist())
        state.extend(industry_df[industry_df['State']==sta].nlargest(3,[f'2023:Q{i}']).loc[:,'State'].values.tolist())
        desc.extend(industry_df[industry_df['State']==sta].nlargest(3,[f'2023:Q{i}']).loc[:,'Description'].values.tolist())
        quart.extend([f'2023:Q{i}']*3)


# Create new DataFrame with lists
top_industries = pd.DataFrame({"Quarter":quart,
                   "State":state,
                   "Description":desc,
                   "GDP Output":output})

In [11]:
top_industries

,Quarter,State,Description,GDP Output
0,2020:Q1,California,Real estate and rental and leasing,429916.9
1,2020:Q1,California,Information,317436.1
2,2020:Q1,California,"Professional, scientific, and technical services",300498.5
3,2020:Q2,California,Real estate and rental and leasing,418004.5
4,2020:Q2,California,Information,310535.8
...,...,...,...,...
235,2023:Q3,Washington,Real estate and rental and leasing,107211.8
236,2023:Q3,Washington,Retail trade,84978.6
237,2023:Q4,Washington,Information,135977.2
238,2023:Q4,Washington,Real estate and rental and leasing,108484.4
239,2023:Q4,Washington,Retail trade,88351.5

In [12]:
# Can now filter for specific state and quarters
top_industries[(top_industries['State']=='Washington') & (top_industries['Quarter']=='2023:Q4')]

     Quarter       State                         Description  GDP Output
237  2023:Q4  Washington                         Information    135977.2
238  2023:Q4  Washington  Real estate and rental and leasing    108484.4
239  2023:Q4  Washington                        Retail trade     88351.5