## Personal Income per Capita and Poverty Rate (Draft)
- Personal Income was sourced from Dept of Commerce - Bureau of Economic Analysis
- Poverty Rate was sourced from the Census webiste

In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Read CSV files
# Poverty rate and population estimates. This is yearly data
poverty_data = ("../Data/Poverty_Data_Census_2020-2023.csv")
poverty_df = pd.read_csv(poverty_data)

# Per Capita Personal Income - This is quarterly data
personal_income = ("../Data/Quarterly_Per_Capita_Personal_Income_2020-2023.csv")
income_df = pd.read_csv(personal_income)

In [3]:
# Preview income_df
income_df.head()

,GeoFips,GeoName,2020:Q1,2020:Q2,2020:Q3,2020:Q4,2021:Q1,2021:Q2,2021:Q3,2021:Q4,2022:Q1,2022:Q2,2022:Q3,2022:Q4,2023:Q1,2023:Q2,2023:Q3,2023:Q4
0,0,United States,56595,60862,59742,59271,66742,63332,63609,64106,64766,65577,66822,67766,68684,69519,70140,70851
1,6000,California,66330,70512,72381,71363,78904,75699,76411,76261,75718,76032,77316,78658,79882,80970,81711,82408
2,12000,Florida,54623,58120,56829,56522,64412,60965,61225,62132,62542,63850,65426,66445,67737,68450,68870,69674
3,19000,Iowa,50072,54981,52333,53060,60425,57884,57479,57112,59942,61034,62515,62768,62417,62421,63021,63219
4,36000,New York,67345,72304,71836,69991,78487,74921,75068,75458,75781,76635,77936,79510,80213,82041,83247,83753

In [4]:
# Clean up income_df

# Remove GeoFips column
income_df = income_df.iloc[:,1:]

# Transpose the DataFrame
income_df = income_df.T

# Rename columns to country names
income_df = income_df.rename(columns=income_df.iloc[0])

# Reset Index
income_df = income_df.reset_index(names="Quarters")

# Remove first row
income_df = income_df.iloc[1:,:]

# Year splice + quarter splice loop
year = []
quarter = []
for i in income_df.iloc[:,0]:
    year.append(i[:4])
    quarter.append(i[5:])

# Insert columns into dataframe
income_df.insert(1,"Quarter",quarter)
income_df.insert(2,"Year",year)


# Preview income_df
income_df.head()

,Quarters,Quarter,Year,United States,California,Florida,Iowa,New York,Texas,Vermont,Washington
1,2020:Q1,Q1,2020,56595,66330,54623,50072,67345,53152,55786,65145
2,2020:Q2,Q2,2020,60862,70512,58120,54981,72304,56358,61509,69670
3,2020:Q3,Q3,2020,59742,72381,56829,52333,71836,55101,57785,68225
4,2020:Q4,Q4,2020,59271,71363,56522,53060,69991,54613,57243,67770
5,2021:Q1,Q1,2021,66742,78904,64412,60425,78487,62031,64184,75634

In [11]:
poverty_df.head()

        State  Year  Population Below Poverty Level (Estimate)  Poverty Rate
0  California  2023                                    4588687         0.120
1     Florida  2023                                    2729519         0.123
2    New York  2023                                    2702955         0.142
3       Texas  2023                                    4086851         0.137
4  Washington  2023                                     794426         0.103